In [ ]:
# imports
import pandas as pd
import duckdb as dk

In [ ]:
df = pd.read_csv("data/ModalidadVirtual.csv")

In [ ]:
# filtramos por el rango de la edad
df["edad"] > 23 # mayor que 23

In [ ]:
# Devuelve la informacion(numero de row, numero de columns, indices, tipo de columns, memoria usada)
df.info()

In [ ]:

# devuelve una tupla con el numero de filas y columnas del df
print(df.shape)

In [ ]:

# devuelve el nunero de elementos del df
print(df.size)

In [ ]:

# devuelve una lista con los nombres de las columnas del df
print(df.columns)

In [ ]:

# devuelve una lista con los nombres de las filas del df
df.index

In [ ]:

# devuelve una serie con los tipos de datos de las columnas del df
df.dtypes

In [ ]:

# devuelve las n primeras filas del df
df.head(2)

In [ ]:

# devuelve las n ultimas filas del df
df.tail(2)

In [ ]:
# localizar elementos del df

i = 1 # i representa las filas 
j = 2 # j representa las columnas

df.iloc[i,j]

In [ ]:
# localizar y ver en un rango de valores de una fila

i = 2 # i representa las filas 
r = 5 # representa el rango hasta donde llegara

df.iloc[i,:r]

In [ ]:
print(df.loc[2, "carrera"])
print(df.loc[:2, ("carrera", "positivo")])

La diferencia entre .iloc y .loc radica en que iloc se usa para acceder a informacion mediante las coordenadas de la matriz como es el caso de (8,9)
donde ocho es la posicion en la  fila y nueva es la posicion en la columna. En cambio loc es para acceder a a la informacion mediante las etiquetas de esta 
como ("nombre", "edad") o tambien podemos usar una combinacion de index y etiqueta como (8, "nombre)

In [ ]:
# añadir una nueva columna al df

df["turno"] = pd.Series(["tarde" for turno in range(len(df))])
df.head(5)

In [ ]:
# eliminar columnas del df

turno = df.pop("turno")
df.head(5)

In [ ]:

# agregar una fila al dataframe
df.loc[len(df)] = [len(df),"2020-12-12","mecatronica","Si","Horario flexible.","Falta de recursos de calidad(plataformas, docentes).",23,"Hombre","Sí"]
df.tail(1)

last_index = len(df) - 1

# eliminar una fila al dataframe
df.drop([last_index], axis=0, inplace=True) # ingresamos el index de la fila que queremos eliminar
# axis: es para declarar que se va a eliminar una fila con el 0 o columna con el 1
# inplace: se debe implementar sobre el mismo data frame
df.tail(5) # como se puede ver, lo ultimo que agregamos ya no aparece

In [ ]:
# filtrado de filas en el dataframe
df[(df["sexo"] == "Mujer") & (df["edad"] >= 20)]

In [ ]:
# ordenar dataframe

# ordena el df por medio de una columna señalada, de manera ascendente
df.sort_values("carrera") 

# con la sentencia ascending en positivo ordena de manera ascendente, con false de manera decendente
df.sort_values("edad", ascending=False)

In [ ]:
# eliminar las filas que contengan un Nan en uno de sus campos
df.dropna()

In [ ]:
# concatenaion por columnas
# para poder concatenar dataframes por sus columnas es necesario que ambos dataframes cuenten con el minmos numero y nombre de columnas

df1 = pd.DataFrame(
    {
        "nombre":["jose", "carlor", "luis", "Carlota"],
        "carreras": ["publicidad", "informatica", "filosofia", "matematicas"],
        "edad": [30, 24, 80, 99]
    }
).set_index("nombre") # con el metodo de set_index() declaramos el el index del DF va a ser la columna señalada, en este caso seria "nombre"

df2 = pd.DataFrame(
    {
        "nombre":["andres", "jan", "marlon", "david"],
        "carreras": ["publicidad", "informatica", "filosofia", "matematicas"],
        "edad": [55, 14, 30, 29]
    }
).set_index("nombre")

# conatenamos los dos dataframes
df3 = pd.concat([df1, df2], axis=1)
# axis = 1
# en el parametro axis, si no lo declaramos por defecto va a estar en uno lo que quiere decir que se va a concatenar por las columnas

df3.head(10)

In [ ]:
# concatenacion por filas
# para poder concatenar dataframes mediante sus filas es necesario que el index de las filas de ambos df sean iguales

autos = pd.DataFrame(
    {
        "autos": ["nissan", "frod", "audi"],
        "color": ["blanco", "azul", "rojo"]
    }
).set_index("autos") # declaramos el index del df

autos2 = pd.DataFrame(
    {
        "autos": ["nissan", "frod", "audi"],
        "modelo": [2018, 2020, 2022]   
    }
).set_index("autos")

autos3 = pd.concat([autos, autos2], axis=0)
# axis = 0
# si queremos concatenar por las filas debemos declarar el paramtro axis en 0
autos3.head(10)

*Mezclar DataFrames:*

podemos concatenar N cantidad de dataFrames, solo que debemos verificar y definir que cumplan las condifiones para ser concatenado por 
fila o columna

In [45]:
# mezclar dataframes

autos = pd.DataFrame(
    {
        "autos": ["nissan", "frod", "audi"],
        "color": ["blanco", "azul", "rojo"]
    }
)

autos2 = pd.DataFrame(
    {
        "autos": ["toyota", "frod", "audi"],
        "modelo": [2018, 2020, 2022]   
    }
)

autos3 = pd.merge(autos, autos2, on="autos", how="outer")

autos3.head(10)

    autos   color  modelo
0  nissan  blanco     NaN
1    frod    azul  2020.0
2    audi    rojo  2022.0
3  toyota     NaN  2018.0

Explicasion de los parametros de pd.merge():

left y right: Son los DataFrames que deseas combinar.

on: Especifica la(s) columna(s) en la(s) que se basará la fusión. Puedes proporcionar un nombre de columna como cadena o una lista de nombres de columnas si quieres combinar los DataFrames en múltiples columnas.

how: Este parámetro determina el tipo de fusión que se realizará. Los valores posibles son: 'inner', 'outer', 'left' y 'right'. Por defecto, el valor es 'inner'. Algunos ejemplos de cómo afecta cada opción son:

- 'inner': Realiza una intersección entre las columnas de fusión de ambos DataFrames y devuelve solo las filas que tienen coincidencias en ambas tablas.

- 'outer': Realiza una unión entre las columnas de fusión de ambos DataFrames y devuelve todas las filas de ambos DataFrames, rellenando los valores faltantes con NaN en caso de no haber coincidencias.

- 'left': Utiliza las columnas del DataFrame de la izquierda como base y conserva todas las filas de dicho DataFrame. Si no hay coincidencias en las columnas de fusión, se rellenan los valores faltantes con NaN.

- 'right': Utiliza las columnas del DataFrame de la derecha como base y conserva todas las filas de dicho DataFrame. Si no hay coincidencias en las columnas de fusión, se rellenan los valores faltantes con NaN.

left_on y right_on: Permite especificar columnas diferentes en los DataFrames izquierdo y derecho para realizar la fusión. Esto es útil cuando los nombres de las columnas no coinciden entre los DataFrames.

left_index y right_index: Si se establece en True, utiliza los índices de los DataFrames en lugar de las columnas como base para la fusión.